

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate ="admin/template">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Edit</title>
</head>

<body class="hold-transition sidebar-mini">


<div layout:fragment = "content1">

    <div class ="container my-3">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>User Edit</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/user/list">Home</a></li>
                            <li class="breadcrumb-item active">Users</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="container-fluid">

                <div class="row">

                    <div class="col-md-12">

                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">User Edit</h3>
                            </div>
                            <div class="container my-3">
                                <form th:action="@{/user/update(id=${user.id})}" th:object="${user}" method="post">



                                    <div class="form-group">
                                        <label for="fname">FIRST NAME</label>
                                        <input type="text" th:field="*{fname}" class="form-control"  id="fname" placeholder="Enter First Name">
                                    </div>

                                    <div class="form-group">
                                        <label for="lname">LAST NAME</label>
                                        <input type="text" th:field="*{lname}" class="form-control"  id="lname" placeholder="Enter Last Name">
                                    </div>

                                    <div class="form-group">
                                        <label for="city">CITY</label>
                                        <input type="text" th:field="*{city}" class="form-control"  id="city" placeholder="Enter City">
                                    </div>

                                    <div class="form-group">
                                        <label for="mobile">MOBILE</label>
                                        <input type="text" th:field="*{mobile}" class="form-control"  id="mobile">
                                    </div>

                                    <div class="form-group">
                                        <label for="email">EMAIL</label>
                                        <input type="email" th:field="*{email}" class="form-control"  id="email" placeholder="Enter E-mail">
                                    </div>

                                    <div class="form-group">
                                        <label for="password">PASSWORD</label>
                                        <input type="text" th:field="*{password}" class="form-control"  id="password">
                                    </div>

                                    <div class="form-group">
                                        <label for="role">ROLE</label>
                                        <input type="text" th:field="*{role}" class="form-control"  id="role">
                                    </div>








                                    <button type="submit" name="submit" class="btn btn-primary">Submit</button>
                                </form>

                            </div>
                        </div>

                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

</div>



<aside class="control-sidebar control-sidebar-dark">
</aside>


</body>
</html>


