

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate ="admin/template">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Brand Entry</title>
</head>

<body class="hold-transition sidebar-mini">


<div layout:fragment = "content1">

    <div class ="container my-3">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Brand Entry</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/brand/list">Home</a></li>
                            <li class="breadcrumb-item active">Brands</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="container-fluid">

                <div class="row">

                    <div class="col-md-12">

                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Brand Entry</h3>
                            </div>
                            <div class="container my-3">
                                <form id="quickForm" th:action="@{/brand/insert}" th:object="${brand}" method="post" enctype="multipart/form-data">



                                    <div class="form-group">
                                        <label for="name">NAME</label>
                                        <input type="text" th:field="*{name}" class="form-control"  id="name" placeholder="Enter Brand">
                                    </div>



                                    <div class="form-group">
                                        <label for="logo">LOGO </label>
                                        <input type="file" class="form-control" id="logo" name="photo1" accept="*" width="80px" height="80px"/>
                                    </div>


                                    <button type="submit" name="submit" class="btn btn-primary">Submit</button>

                                </form>


                            </div>
                        </div>

                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

</div>



<aside class="control-sidebar control-sidebar-dark">
</aside>


<script layout:fragment="script1">
$(function () {
  $.validator.setDefaults({
    submitHandler: function () {
     $('#quickForm').submit
    }
  });
  $('#quickForm').validate({
    rules: {
      name: {
        required: true,
      },


    },
    messages: {
      name: {
        required: "Please enter name",

      },


    },
    errorElement: 'span',
    errorPlacement: function (error, element) {
      error.addClass('invalid-feedback');
      element.closest('.form-group').append(error);
    },
    highlight: function (element, errorClass, validClass) {
      $(element).addClass('is-invalid');
    },
    unhighlight: function (element, errorClass, validClass) {
      $(element).removeClass('is-invalid');
    }
  });
});
</script>

</body>
</html>

















