
<!DOCTYPE html>
<html lang="zxx"
      xmlns:th="http://www/thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="user/template">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Fashi Template">
  <meta name="keywords" content="Fashi, unica, creative, html">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>E-Commerce</title>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">


</head>

<body>
<div layout:fragment="content1">

<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text product-more">
          <a href="/index"><i class="fa fa-home"></i> Home</a>
          <a href="/shop">Shop</a>
          <span>Shopping Cart</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb Section Begin -->

<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="cart-table">
          <table>
            <thead>
            <tr>
              <th>Image</th>
              <th class="p-name">Product Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th><i class="ti-close"></i></th>
            </tr>
            </thead>
            <tbody th:each="cart:${carts}">
            <tr>

              <td class="cart-pic first-row"><img  th:src="@{${cart.product.photosImagePath}}" height="80px" width="80px" alt=""></td>
              <td class="cart-title first-row">
                <a th:text="${cart.product.name}"></a>
              </td>
              <td class="p-price first-row"><span th:text="${cart.product.rate}"></span></td>
              <td class="qua-col first-row">
                <div class="quantity">
                  <div class="pro-qty">
                    <input type="text" th:value="${cart.qty}">
                  </div>
                </div>
              </td>
              <td class="total-price first-row"><span th:text="${cart.qty} * ${cart.product.rate}"></span></td>
              <td class="close-td first-row">
                <a th:href="@{/cart(del_id=${cart.id})}">
                  <i class="ti-close"></i>
                </a>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="cart-buttons">
              <a href="/shop" class="primary-btn continue-shop">Continue shopping</a>
              <a href="/cart" class="primary-btn up-cart">Update cart</a>
            </div>
            <div class="discount-coupon">
              <h6>Discount Codes</h6>
              <form action="#" class="coupon-form">
                <input type="text" placeholder="Enter your codes">
                <button type="submit" class="site-btn coupon-btn">Apply</button>
              </form>
            </div>
          </div>
          <div class="col-lg-4 offset-lg-4">
            <div class="proceed-checkout">
              <ul>
                <li class="subtotal">Subtotal <span th:text="${total}"></span></li>
                <li class="cart-total">Total <span th:text="${total}"></span></li>
              </ul>
              <a href="/check-out" class="proceed-btn">PROCEED TO CHECK OUT</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Shopping Cart Section End -->


</div>

</body>

</html>