
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www/thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate ="admin/template">
<head>
    <title>Category List</title>
</head>

<body class="hold-transition sidebar-mini">

<div layout:fragment = "content1">
    <div class ="container my-3">

        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Category</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Category</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">





                        <div class="card">
                            <div class="card-header">

                                <a href="/category/new"><button class="btn btn-md btn-info my-3">Add New Category</button> </a>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">

                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>NAME</th>
                                        <th>IMAGE</th>

                                        <th>ACTION</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr th:each="category : ${list}">
                                        <td th:text ="${category.id}"></td>
                                        <td th:text="${category.name}"></td>

                                        <td> <img th:src="${category.photosImagePath}" height=80px width=80px /></td>
                                        <td style="width:160px">
                                            <a th:href="@{/category/edit/{id}(id=${category.id})}"><button class="btn btn-sm btn-success">UPDATE</button></a>
                                            <a th:href="@{/category/delete/{id}(id=${category.id})}"  onclick="return confirm('Do you want to delete?')"><button class="btn btn-sm btn-danger">DELETE</button></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>NAME</th>
                                        <th>IMAGE</th>

                                        <th>ACTION</th>
                                    </tr>
                                    </tfoot>
                                </table>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<aside class="control-sidebar control-sidebar-dark">
</aside>

</body>
</html>










